html{
    font-family: 'Yeseva One', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
     padding : 0;
    margin: 0;
}
body {
    background: $main;
    width: 100vw;
  
}

h1, h2, h3, h4, p, a, button {
  padding: 0;
    margin: 0;
}
h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 4rem;
    text-transform: capitalize;
    color: $title;
    text-align: center;
   

}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: $main;
    text-transform: uppercase;
   
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: $border;
    padding: 10px;
    text-transform: capitalize;
}
p {
  font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $border;
}
button {
  background: $tiles;
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid $border;
    text-transform: capitalize;

}
.wrapper {
    width: 800px;
    margin: 0 auto;
}
main{
  margin: 0;
}


.game {
   width: 540px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: calc(25% - 10px);
  height: calc(30% - 10px);
  margin:  5px;
  position: relative;
  transform: scale(1);
  perspective: 800px;
  transform-style: preserve-3d;
}
  

.front, .back {
  position: absolute;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  border: 3px solid $border;
  transition:all 0.5s;
  backface-visibility:hidden;  
}
.front {
  background:$tiles; 
  
}
#memory {
  width: 540px;
  height: 540px;
  margin: auto;
}
.back {
  background:$accent; 
  transform:rotateY(180deg); 
}

.frog {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

.card_match {
  visibility: hidden;
}

.selected_card {
  border: 4px solid $accent;
  transform: rotateY(180deg);
}




@media (max-width: 700px){
    h1{
        font-size: 3rem;
    }
    .front, .back {
      width: 60%;
      height: 60%;
      margin: 0;
    }
    .card{
       width: calc(30% - 10px);
        height: calc(35% - 10px);
        margin:  5px;
    }
    .game{
      margin: 0;
    }
    .frog{
      width: 50px;
    }

  }

@media (max-width: 500px){
    h1{
        display: none;
    }

  }